header {
  background-color: #06151A;
  text-align: center;
  padding: 32px;
}

.section-card {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

.cards-tema {
  display: flex;
  padding-top: 20px;
  gap: 70px;
  flex-wrap: wrap;
}